@model IEnumerable<PizzaOrder.Models.Order>

<div class="flex"> 
    <a class="submit-btn" asp-action="Index" asp-controller="Home">Return</a>
</div>
<hr />
<table class="table"> 
    <tr>
       <th>Name</th>
       <th>Address</th>
       <th>Pizzas</th>
       <th>Ordered time</th>
       <th>Delivered time</th>
       <th>Status</th>
    <tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Name</td>
        <td>
            @if(item.Delivering == false)
            {
                <p>Receiving from pizzeria</p>
            }
            else{
                <p>@item.City, @item.StreetName @item.HouseNumber, Ap: @item.ApartmentsNumber, @item.PostCode</p> 
            }          
        </td>    
        <td>
            @foreach (var pizzas in item.Pizzas)
            {
                <p>@pizzas.Count x @pizzas.Name </p>
            }
        </td>
        <td>@item.CreateTime</td>
        <td>
            @if(item.EndTime != null)
            {
                @item.EndTime
            }
            <p>Not delivered yet</p>
        </td>
        <td>
            @if(item.IsCooked == false)
            {
                <p>Cooking</p>
            }
            @if(item.IsCooked == true && item.Delivering == false)
            {
                <p>Your pizza is waiting for you</p>
            }
            @if(item.IsCooked == true && item.Delivering == true)
            {
                <p>On the way to you :)</p>
            }
            @if(item.IsDelivered == true)
            {
                <p>Received</p>
            }
        </td>
    </tr>
    }
</table>